<div class="page-container">
  <div class="card mb-7 static-page">
    <div class="card-block px-4 py-5">
      <h1>About</h1>
      <p>Welcome to Eagles Linc, a new website designed to cover everything from gameplans to the personnel decisions of your Super Bowl 52 champion Philadelphia Eagles. A fan since 2004, I have written previously for Bleeding Green Nation and Pro Football Focus, in addition to being published in print in the Eagles Annual.</p>
    </div>
  </div>
</div>
