<p id="notice"><%= notice %></p>

<h1>Players</h1>

<table style="width:100%">
<tr>
    <td></td>
    <td></td>
    <td>
      <% pos_idx = @positions.find_index { |plr| plr[0].position == 'FS' } %>
        <% @positions[pos_idx].each do |player| %>
        <div class="pl-card-container">
          <div class="pl-name">
          <%= image_tag(player.picture_url, width: 100) if player.picture.present? %>
          </div>
        </div>
      <% end %>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <% pos_idx = @positions.find_index { |plr| plr[0].position == 'SS' } %>
        <% @positions[pos_idx].each do |player| %>
        <div class="pl-card-container">
          <div class="pl-name">
          <%= image_tag(player.picture_url, width: 100) if player.picture.present? %>
          </div>
        </div>
      <% end %>
    </td>
    <td></td>
    <td></td>
  </tr>
</table>
