<nav class="navbar navbar-expand-lg navbar-light navigation">
  <%= link_to 'Eagles Linc', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavMenu" aria-controls="navbarNavMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end pr-2" id="navbarNavMenu">
    <div class="navbar-nav">
      <%= link_to 'Articles', articles_path, class: 'nav-item nav-link' %>
    </div>
  </div>
</nav>
